<div class="header" fxLayout="row" fxLayoutAlign="end end">
    <span *ngIf="!loggedInUsername">
        <button mat-raised-button class="item" *ngIf="!isActive(State.SignIn)" (click)="switch(State.SignIn)">Sign-In</button>
        <button mat-raised-button class="item" *ngIf="!isActive(State.SignUp)" (click)="switch(State.SignUp)">Sign-Up</button>
    </span>
    <span *ngIf="loggedInUsername">
        <span class="item">Hi, {{loggedInUsername}}!</span>
        <button mat-raised-button class="item" (click)="logOut()">Logout</button>
    </span>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly">
    <mat-card *ngIf="loggedInUsername" fxFlex.gt-xs="30%">
        <app-assessment-item-list (select)="selectedItemID = $event" [items]="items"></app-assessment-item-list>
    </mat-card>
    <mat-card *ngIf="!loggedInUsername" fxLayout="column" fxLayoutAlign="center space-evenly" fxFlex.gt-xs="60%">
        <app-assessment-intro *ngIf="isActive(State.Intro)"></app-assessment-intro>
        <app-assessment-sign-in *ngIf="isActive(State.SignIn)" (cancel)="switch(State.Intro)"></app-assessment-sign-in>
        <app-assessment-sign-up *ngIf="isActive(State.SignUp)" (cancel)="switch(State.Intro)"></app-assessment-sign-up>
    </mat-card>
    <mat-card *ngIf="loggedInUsername" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-xs="60%">
        <app-assessment-item-details [selectedItemID]="selectedItemID" [items]="items"></app-assessment-item-details>
    </mat-card>
</div>
