<form>
    <h1 class="text-center">Item List</h1>
    <div fxLayout="column" fxLayoutAlign="center none">
        <button mat-raised-button *ngFor="let item of items" type="button" (click)="onSelect(item.id)">{{item.name}}</button>
    </div>
</form>
