<h1 class="title">Sign In</h1>

<form novalidate #signInForm="ngForm" (ngSubmit)="signInForm.valid && signIn()">
    <div fxLayout="row">
        <mat-form-field fxFlex>
            <input matInput #username="ngModel" [(ngModel)]="form.username" type="text" id="username" name="username" placeholder="Username" pattern="^[a-zA-Z0-9\-\._]{8,20}$" required />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="50">
            <input matInput #password="ngModel" [(ngModel)]="form.password" type="password" id="password" name="password" placeholder="Password" pattern="^.{8,25}$" required />
        </mat-form-field>
        <button mat-raised-button fxFlexAlign="center" type="submit">Sign In</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button type="button" (click)="cancel.emit()">Cancel</button>
    </div>
</form>
