<h1 class="title">Sign Up</h1>

<form novalidate #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && verification.confirmPassword == form.password && signUp()">
    <div fxLayout="row">
        <mat-form-field fxFlex="50">
            <input matInput #name="ngModel" [(ngModel)]="form.name" type="text" id="name" name="name" placeholder="Name" pattern="^[a-zA-Z\-\. ]{2,20}$" required />
        </mat-form-field>
        <mat-form-field fxFlex="50">
            <input matInput #surname="ngModel" [(ngModel)]="form.surname" type="text" id="surname" name="surname" placeholder="Surname" pattern="^[a-zA-Z\-\. ]{2,20}$" required />
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field fxFlex>
            <input matInput #username="ngModel" [(ngModel)]="form.username" type="text" id="username" name="username" placeholder="Username" pattern="^[a-zA-Z0-9\-\._]{8,20}$" required />
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="50" fxLayout="column">
            <mat-form-field>
                <input matInput #password="ngModel" [(ngModel)]="form.password" type="password" id="password" name="password" placeholder="Password" pattern="^.{8,25}$" required />
            </mat-form-field>
            <mat-form-field>
                <input matInput #confirmPassword="ngModel" [(ngModel)]="verification.confirmPassword" type="password" id="confirmpassword" name="confirmpassword" placeholder="Re-type password" pattern="^{{form.password | escapeForRegex}}$" required />
            </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="end space-evenly">
            <div fxLayout="column" fxLayoutAlign="space-evenly end">
                <button mat-raised-button type="submit">Sign Up</button>
                <button mat-raised-button type="button" (click)="cancel.emit()">Cancel</button>
            </div>
        </div>
    </div>
</form>
    