/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    @extend .stretch;
    margin: 0 auto;
}

.full-width {
    min-width: 100%;
    width: 100%;
}

.full-height {
    min-height: 100%;
    height: 100%;
}

.stretch {
    @extend .full-width;
    @extend .full-height;
}

.header {
    @extend .full-width;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.header .item {
    margin-left: 10px;
}

.text-center {
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }