<div *ngIf="selectedItem">
    <h1>{{selectedItem.name}} Details</h1>
    <h4>Name: {{selectedItem.name}}</h4>
    <h4>Description: {{selectedItem.description}}</h4>
</div>
<div *ngIf="!selectedItem">
    Select an item from the list to see the item details.
</div>